{% extends 'layout.html' %}

{% block title %}Room{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    Room Name {{ room }}
    
    <div class="table" style="border: 1px solid #000;">
        <div class="tbody">
            <div class="trow">
                <div class="tcell" id="messages"></div>
                <div class="tcell" id="members"></div>
            </div>
        </div>
    </div>
    <input type="text" id="myMsg">
    <button id="send">Send</button>
 
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', () => {
            const messages = document.getElementById('messages');
            const members = document.getElementById('members');
            const send = document.getElementById('send');
            const msg = document.getElementById('myMsg');

            var socket = io();
            
            send.addEventListener('click', () => {
                console.log(msg.value)
                socket.emit('message', {'user': '{{ user }}', 'msg': msg.value})
                msg.value = ''
            });
            
            socket.on('connect', () => {
               socket.emit('join', {user: "{{ user }}", room: "{{ room }}"})
               // socket.emit('member_connected', {room: "{{ room }}"})
            }); 
            
            socket.on('message', (data) => {
                const div = document.createElement('div')
                if( data.user && data.msg ) {
                    div.innerHTML = `<b>${data.user}</b> - <span>${data.msg}</span>`
                    messages.appendChild(div)
                }
                else {
                    members.innerHTML = ''
                    div.innerHTML = `<b>${data.members}</b> - <span>${data.connected}</span>`
                    members.appendChild(div)
                }
            });
        });
    </script>
{% endblock %}